{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>BLACKDOG</title>
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" media="all" href="{% static "css/simplegrid.css" %}"/>
        <link rel="stylesheet" media="all" href="{% static "css/main.css" %}"/>
        <link rel="stylesheet" media="(max-width: 800px)" href="{% static "css/mobile.css" %}"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>

        <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
        <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
        <script src="{% static "js/gpx.js" %}"></script>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
        </header>
        <div id="main_container" class="grid">
            <div id="map"></div>
            <div class="function_modal">
                {% if request.user.is_authenticated %}
                    {% verbatim %}
                    <ul class="login_register">
                        <li><a v-on:click="changeUploadModalState(true)" href="#uploadModal">Upload</a></li>
                        <li><a v-on:click="changePOIModalState(true)" href="#POIModal">Add POI</a></li>
                    </ul>
                    {% endverbatim %}
                {% endif %}
            </div>
            <div v-show="uploadModalState" id="uploadModal" class="standAloneModal" v-bind:class="{ 'innerModalShown': uploadModalState }">
                <div class="innerModal">
                    {% verbatim %}
                    <p class="cancelIconScrollable" v-on:click="changeUploadModalState(false)">&#xd7;</p>
                    {% endverbatim %}
                    <p>Upload a new course or ride here.</p>
                    <form action="{% url "campaignUpload" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <ul>
                            <li>Campaign: {{ upload_form.campaign }}</li>
                            <li>Courses: {{ upload_form.courses }}</li>
                            <li>Rides: {{ upload_form.rides }}</li>
                            <input class="button" type="submit" />
                        </ul>
                    </form>
                </div>
            </div>
            <div v-show="POIModalState" id="POIModal" class="hoverBottomLeftModal" v-bind:class="{ 'innerModalShown': POIModalState}">
                <div class="innerModal">
                    {% verbatim %}
                    <p class="cancelIconScrollable" v-on:click="changePOIModalState(false)">&#xd7;</p>
                    {% endverbatim %}
                    <h2>POINTS OF INTEREST</h2>
                    {% if not instagram_acct %}
                        <a href="{% url 'social:begin' 'instagram' %}">Login with Instagram</a>
                    {% else %}
                        {% verbatim %}
                        <p>Click on a point you want to add a POI.</p>
                        <div class="ghettoForm">
                            <div>
                                <label>POI Type:</label>
                                <select v-model="poiType">
                                    <option v-for="poi in poiTypes" v-bind:value="poi.value">{{poi.text}}</option>
                                </select>
                            </div>
                            <div>
                                <label>Point on Map:</label>
                                <span>{{ poiLatLng.toString() }}</span>
                            </div>
                            <div v-show="poiType == 'instagram'">
                                <label>Image URL:</label>
                                <input v-model="poiShortcode" type="text" name="shortcode" />
                            </div>
                            <div v-show="poiType == 'text'">
                                <label>Text:</label>
                                <input type="text" v-model="poiText" name="poiText" />
                            </div>
                            <div>
                                <button class="button" v-on:click="submitPOI($event)">Submit</button>
                            </div>
                        </div>
                        {% endverbatim %}
                    {% endif %}
                </div>
            </div>
            {% verbatim %}
            <div id="sidenav" class="col-2-12">
                <div class="content">
                    <div class="fullopac">
                        <ul class="top">
                            <li><h2 id="logo" ><img src="/static/img/logo.svg"></img></h2></li>
                            <li class="pink">
                                <h2><a class="small-rainbow" href="https://www.generosity.com/sports-fundraising/the-black-dog-a-west-coast-bike-tour">
                                    &raquo; Support us on Generosity! &laquo;
                                </a></h2>
                            </li>
                            <li><a v-on:click="setCurrentModal('about')" href="#">About</a></li>
                            <li><a v-on:click="setCurrentModal('campaigns')" href="#">The Campaign</a></li>
                            <!-- <li><span class="currentCampaign">Current: <span class="red">{{ currentCampaign["name"] }}</span></span></li> -->
                            <li><a v-on:click="setCurrentModal('manifest')" href="#">Manifest</a></li>
                            <li><a v-on:click="setCurrentModal('journal')" href="#">Journal:</a></li>
                            <li v-for="currentJournalEntry in journalEntries.slice(0, 4)" v-on:click="setCurrentModal('journal')"><span class="currentCampaign"><a href="#{{currentJournalEntry.slug}}">{{currentJournalEntry.title}}</span></li>
                        </ul>
                        <ul class="bottom">
                            <li>&copy; 2016 <a href="http://qpfiffer.com/">Quinlan Pfiffer</a></li>
                            <li>Contact: <a href="mailto:shithouse@goatse.cx">shithouse@goatse.cx</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div v-show="modalShow" id="main_nav" v-bind:class="{ 'col-6-12': modalShow != 'journal', 'col-9-12': modalShow == 'journal' }" class="modal">
                <div class="content">
                    <p class="cancelIconScrollable" v-on:click="modalShow = false">&#xd7;</p>
                    <div v-show="modalShow == 'about'" id="about">
                        <h3 style="padding: 1em;">About</h3>
                        <img src="/static/img/packrdkq.jpg"></img>
                        <p>we got to talking about riding bikes</p> 
                        <p>from canada to mexico</p>
                        <p>you know- in jest</p>
                        <p>but then agreed</p>
                        <p>it sounded like fun</p>
                        <img src="/static/img/stubbwbikes.jpg"></img>
                        <p>and we wanted to work for something</p>
                        <p>to be outside and to ride bikes.</p>
                        <p></p>
                        <p>quinlan &amp; kaya -2016</p>
                        <img src="/static/img/SurveyIGofK.jpg"></img>
                    </div>
                    <div v-show="modalShow == 'campaigns'" id="campaigns">
                        <h3>The Campaign</h3>
                        <img src="/static/img/rides_and_courses.png"></img>
                        <p>The Black Dog project is centered around a single tour, for now. We wanted to turn it into a <i>thing</i>, so we made this site to go with everything about it. The ride itself will be documented here with the use of journal entries, pictures and GPS data about the ride.</p>
                        <p>A campaign, as we've taken to calling this, consists of rides and courses. They're very similar, they're both just GPS tracks. The only difference is one shows intent, and the other shows what we actually did.</p>
                        <p>A <b class="black">course</b> is an intended segment of the ride. We want to ride here and we think we probably will, unless something goes wrong.</p>
                        <p>A <b class="red">ride</b> is uploaded after the fact. This is where we actually rode. It might mirror a course we uploaded, but it might not.</p>
                        <p>Eventually, this campaign will also have journal entries tied to points on the map, or instagram images associated with things that happened or weird stuff that we saw.</p>
                    </div>
                    <div v-show="modalShow == 'manifest'" id="manifest">
                        <h3>Manifest</h3>
                        <!-- <ul class="dotted-list">
                            <li v-for="(key, financeCategory) in manifest">
                                <h4>{{key}}</h4>
                                <ul class="dotted-list">
                                    <li class="dotted" v-for="item in financeCategory">
                                        <span class="dotted">{{$index + 1}}. {{ item[0] }}</span><span class="dotted">${{item[1]}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="financeTotal">
                            <li id="financeTotals" ><span>Total</span><span>${{ financeTotals }}</span</li>
                        </ul> -->
                    </div>
                    <div v-show="modalShow == 'journal'" id="journal">
                        <div v-for="currentJournalEntry in journalEntries">
                            <div id="{{currentJournalEntry.slug}}" style="background-image: url({{currentJournalEntry.entryimage_set[0].image_url}});" class="journalSpacer journalEntry"></div>
                            <div  data-slug="{{currentJournalEntry.slug}}" class="journalEntryHeaderBlock">
                                <div class="journalTitle">
                                    <h3>{{ currentJournalEntry.title }}</h3>
                                    <h4><span>&#x1f4c5;</span>{{ currentJournalEntry.published_timestamp }}</h4>
                                    <h4><span>&#x270e;</span>{{ currentJournalEntry.author.username }}</h4>
                                </div>
                                <div class="journalContent">
                                    {{{currentJournalEntry.content}}}
                                </div>
                                <hr/>
                                <!-- <div id="disqus_thread"></div>
                                <script>
                                    Vue.
                                    var slug = $(document.currentScript).parent().data("slug");
                                    var disqus_config = function () {
                                        this.page.url = window.location + "#" + slug;  // Replace PAGE_URL with your page's canonical URL variable
                                        this.page.identifier = slug; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                    };
                                    (function() { // DON'T EDIT BELOW THIS LINE
                                        var d = document, s = d.createElement('script');
                                        s.src = '//blkdg.disqus.com/embed.js';
                                        s.setAttribute('data-timestamp', +new Date());
                                        (d.head || d.body).appendChild(s);
                                    })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endverbatim %}
    <footer>
    </footer>
    <script type="text/javascript" src="{% static "js/notify.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            var messages = {{all_messages|safe}};
            for (var message of messages) {
                $.notify(message, "info");
            }
            init();
        });
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-30510579-5', 'auto');
        ga('send', 'pageview');
    </script>
    </body>
</html>
