html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    margin: 0px;
}

.grid {
    max-width: initial;
}

a {
    color: #EFEFEF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
ul {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    color: #EFEFEF;
}

#logo img {
    height: 85px;
    margin: 0 auto;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1em;
}

#map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
}

.fullopac {
    padding-left: 1em;
    padding-right: 1em;
}

#sidenav {
    position: fixed;
    color: #B9BBAD;
    background: rgba(0,0,0,0.65);
    height: 100vh;
}

#sidenav ul {
    padding: 0;
}

#sidenav li {
    list-style: none;
}

#sidenav .top {
    font-size: 14px;
}

#sidenav .bottom {
    position: absolute;
    bottom: 3px;
    font-size: 10px;
}

#main_nav {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    right: 0;
    position: fixed;
    color: #B9BBAD;
    background: rgba(0,0,0,0.65);
    min-height: 90vh;
}

#campaigns, #manifest {
    padding: 1em;
    height: 90vh;
    width: 100%;
    overflow-y: scroll;
}

.dotted-list {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}

.dotted-list span.dotted:first-child {
    padding-right: 0.33em;
    background: #222;
}

.dotted-list li.dotted:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: " ";
}

.dotted-list span.dotted + span.dotted {
    background: #222;
    float: right;
    padding-left: 0.33em;
}

.modal {
    background: #222 !important;
}

#financeTotals {
    content: initial;
}

ul.financeTotal {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}


ul.financeTotal li:before {
    float: left;
    width: 0;
    white-space: nowrap;
}

ul.financeTotal span + span {
    background: #222;
    float: right;
    padding-left: 0.33em;
}

.cancelIcon {
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: 36px;
    float: right;
    display: inline;
    position: absolute;
    right: 0;
    margin: 0;
    font-style: normal !important;
    opacity: 0.7;
    background-color: rgba(0,0,0,0.65);
}

.cancelIcon:hover {
    opacity:1.0;
}

.cancelIcon:hover, .cancelIcon i:hover {
    cursor: pointer;
}


.cancelIconScrollable {
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: 36px;
    float: right;
    display: inline;
    position: absolute;
    right: 0.5em;
    margin: 0;
    font-style: normal !important;
    opacity: 0.7;
    background-color: rgba(0,0,0,0.65);
}

.cancelIconScrollable:hover {
    opacity:1.0;
}

.cancelIconScrollable:hover, .cancelIconScrollable i:hover {
    cursor: pointer;
}

span.currentCampaign {
    font-size: 12px;
    margin-left: 1em;
}
#journal, #manifest {
    /* padding: 0.5em; */
    height: 90vh;
    width: 100%;
    overflow-y: scroll;
}
.journalSpacer {
    height: 45vh;
    background-size: cover;
    background-position: center;
}
.journalEntryHeaderBlock {
    padding: 0.5em;
    padding: 1.5em 3em;
    /* border-radius: 3px 3px;
    background-color: rgba(0,0,0,0.65); */
}
.journalTitle {
    border-bottom: solid 1px #B9BBAD;
    padding-bottom: 0.5em;
    font-size: 24px;
}

.journalEntryHeaderBlock h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.journalEntryHeaderBlock h4 {
    /* padding-left: 2em; */
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-size: 12px;
    color: #B9BBAD;
}
.journalContent {
    font-size: 18px;
}
.journalContent a {
    color: #fa2a00;
}
.function_modal {
    color: #EEE;
    padding-left: 0.35em;
    padding-right: 0.35em;
    float: right;
    display: inline;
    position: absolute;
    right: 0;
    margin: 0;
    font-style: normal !important;
    opacity: 0.7;
    background-color: rgba(0,0,0,0.65);
}
.function_modal ul {
    padding-left: 0.25em;
}
.function_modal li {
    list-style: none;
}
.function_modal li:hover {
    list-style: none;
}
.standAloneModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.innerModal {
    color: #B9BBAD;
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #222;
}
.innerModalShown {
    opacity: 1.0;
}
#uploadModal li {
    padding-top: 0.5em;
}
#uploadModal input {
    margin-top: 0.5em;
}
.button {
    padding: 0.5em;
    color: #B9BBAD;
    background-color: #333;
    display: inline-block;
    font-size: 24px;

    appearance: none;
    box-shadow: none;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#about {
    height: 90vh;
    width: 100%;
    overflow-y: scroll;
}
#about img, #campaigns img {
    object-fit: cover;
    width: 100%;
}
#about p, #campaigns p {
    padding-left: 1em;
    padding-right: 1em;
}
.red {
    color: #FA2A00;
}
.black {
    color: #666;
}
.hoverBottomLeftModal {
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    z-index: 99999;
}
.pink a {
    color: #FF86A6;
}
@-webkit-keyframes rainbow {
    0% {color: #ff0000; text-shadow: 0 0px 0 #ff0000;    }
    10% {color: #ff8000; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000;    }
    20% {color: #ffff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00;    }
    30% {color: #80ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00;    }
    40% {color: #00ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00;    }
    50% {color: #00ff80; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80;    }
    60% {color: #00ffff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff;    }
    70% {color: #0080ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff;    }
    80% {color: #0000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff;    }
    90% {color: #8000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff;    }
    100% {color: #ff0080; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff, 0 20px 0 #ff0080;    }
}
@-ms-keyframes rainbow {
    0% {color: #ff0000; text-shadow: 0 0px 0 #ff0000;    }
    10% {color: #ff8000; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000;    }
    20% {color: #ffff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00;    }
    30% {color: #80ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00;    }
    40% {color: #00ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00;    }
    50% {color: #00ff80; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80;    }
    60% {color: #00ffff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff;    }
    70% {color: #0080ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff;    }
    80% {color: #0000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff;    }
    90% {color: #8000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff;    }
    100% {color: #ff0080; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff, 0 20px 0 #ff0080;    }
}
@-o-keyframes rainbow {
    0% {color: #ff0000; text-shadow: 0 0px 0 #ff0000;    }
    10% {color: #ff8000; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000;    }
    20% {color: #ffff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00;    }
    30% {color: #80ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00;    }
    40% {color: #00ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00;    }
    50% {color: #00ff80; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80;    }
    60% {color: #00ffff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff;    }
    70% {color: #0080ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff;    }
    80% {color: #0000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff;    }
    90% {color: #8000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff;    }
    100% {color: #ff0080; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff, 0 20px 0 #ff0080;    }
}
@keyframes rainbow {
    0% {color: #ff0000; text-shadow: 0 0px 0 #ff0000;    }
    10% {color: #ff8000; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000;    }
    20% {color: #ffff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00;    }
    30% {color: #80ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00;    }
    40% {color: #00ff00; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00;    }
    50% {color: #00ff80; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80;    }
    60% {color: #00ffff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff;    }
    70% {color: #0080ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff;    }
    80% {color: #0000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff;    }
    90% {color: #8000ff; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff;    }
    100% {color: #ff0080; text-shadow: 0 0px 0 #ff0000, 0 2px 0 #ff8000, 0 4px 0 #ffff00, 0 6px 0 #80ff00, 0 8px 0 #00ff00, 0 10px 0 #00ff80, 0 12px 0 #00ffff, 0 14px 0 #0080ff, 0 16px 0 #0000ff, 0 18px 0 #8000ff, 0 20px 0 #ff0080;    }
}
.small-rainbow {
    -webkit-animation:rainbow 2s infinite;
    -ms-animation:rainbow 2s infinite;
    -o-animation:rainbow 2s infinite;
    animation:rainbow 2s infinite;
    font-family: 'PixelMincho', serif;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 4px 4px 4px #000;
}
.journalContent img {
    background-size: cover;
    background-position: center;
    width: 100%;
}
