html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
    margin: 0px;
}

.grid {
    max-width: initial;
}

a {
    color: #EFEFEF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    color: #EFEFEF;
}

#logo img {
    height: 85px;
    margin: 0 auto;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1em;
}

#map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
}

.fullopac {
    padding-left: 1em;
    padding-right: 1em;
}

#sidenav {
    position: fixed;
    color: #B9BBAD;
    background: rgba(0,0,0,0.65);
    height: 100vh;
}

#sidenav ul {
    padding: 0;
}

#sidenav li {
    list-style: none;
}

#sidenav .top {
    font-size: 14px;
}

#sidenav .bottom {
    position: absolute;
    bottom: 3px;
    font-size: 10px;
}

#main_nav {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 5vw;
    padding: 1em;
    right: 0;
    position: fixed;
    color: #B9BBAD;
    background: rgba(0,0,0,0.65);
    height: 90vh;
}

.dotted-list {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}

.dotted-list span:first-child {
    padding-right: 0.33em;
    background: #222;
}

.dotted-list li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

.dotted-list span + span {
    background: #222;
    float: right;
    padding-left: 0.33em;
}

.modal {
    background: #222 !important;
}

#financeTotals {
    content: initial;
}

ul.financeTotal {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}


ul.financeTotal li:before {
    float: left;
    width: 0;
    white-space: nowrap;
}

ul.financeTotal span + span {
    background: #222;
    float: right;
    padding-left: 0.33em;
}
