xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Blog
xXx TTYL xXx
xXx META xXx
<meta name="description" content="Technical blog and propoganda for OlegDB">
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/blog.css" />
xXx TTYL xXx
xXx CONTENT xXx
<div class="blog_container">
    xXx LOOP blog_meta POSTS xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content blog_item">
                <h2 class="post_title"><a href="/xXx blog_meta$link xXx">xXx blog_meta$title xXx</a></h2>
                <p>
                    <span class="author_name">xXx blog_meta$date xXx by xXx blog_meta$author xXx</span>
                    <span class="comment_count"><a href="/xXx blog_meta$link xXx#disqus_thread">Comments</a></span>
                </p>
                xXx blog_meta$preview xXx
                <p>
                    <a href="xXx blog_meta$link xXx">Read the Full Post</a>
                </p>
            </div>
        </div>
    </div>
    xXx BBL xXx
</div>
xXx TTYL xXx
xXx END_BODY xXx
    <script type="text/javascript">
    var disqus_shortname = 'olegdbblog';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
xXx TTYL xXx
