xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Project Home
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/index.css" />
xXx TTYL xXx
xXx META xXx
<meta name="description" content="BLACKDOG">
xXx TTYL xXx
xXx END_SCRIPTS xXx
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="/static/js/gpx.js"></script>
<script type="text/javascript">
var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
});

var map = L.map('map', {
    scrollWheelZoom: false,
    center: [45.5231, -122.6765],
    zoom: 9
});

map.addLayer(layer);
</script>
xXx TTYL xXx
xXx CONTENT xXx
<div id="map"></div>
xXx TTYL xXx
